<ion-header no-border>
  <ion-toolbar color="graniente-menu" class="header-azul ha-5">
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false" color="light"></ion-menu-button>
          <!-- <ion-back-button autoHide="false" color="light"></ion-back-button> -->
      </ion-buttons>
      <ion-title class="perfil"><small>Perfil: {{ globalServ.UsuarioTipo }}</small></ion-title>
  </ion-toolbar>

  <ion-title class="header-titulo">Mi Portafolio</ion-title>

  <ion-img class="linea-azul" src="/assets/imgs/pico_transparente.png"></ion-img>
</ion-header>

<ion-content class="ion-padding-top">

  <div *ngFor="let archivo of archivos" class="ion-padding-bottom">    
    <ion-item-sliding class="roundedInput">
      <ion-item>
        <ion-button fill="clear" color="dark" (click)="verDetalle(archivo)">
          <ion-input disabled="true">
            <ion-icon class="align-self-center" name="book" slot="start" class="icon-style"> </ion-icon>
            {{ archivo.nombre }}
          </ion-input>        
        </ion-button>          
      </ion-item>
      <ion-item-options side="end">          
        <ion-item-option color="dark" >           
         <img src="assets/icons/edit-icon.png" height="20" width="20" (click)="editar(archivo)" /> 
        </ion-item-option>          
        <ion-item-option color="dark">
         <img src="assets/icons/delete-icon.png" height="20" width="20" (click)="eliminar(archivo.id)" /> 
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div> 

</ion-content>

<ion-footer *ngIf="habilitarRegistro">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-button (click) = "agregarArchivo()" expand="block" fill="clear" shape="round" class="btn-save">
        <ion-icon name="add-circle" class="icon-style-btn"> </ion-icon>
        Agregar archivo
      </ion-button>  
    </ion-item>
  </ion-toolbar>
</ion-footer>
