.header-img {
    width: 100%;    
      position: relative;
      top: 0;
      left: 0;
      height: 90px;
      z-index: -1;
  }

  .texto-titulo {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .texto-filtro {
    width: 80px;
    height: 20px;
    font-size: 12px;
    padding-right: 20px;
    text-transform: none;
  }

  .icon-pro {
    border-radius: 20px 20px 20px 20px;  
    width: 100%;
    height: 100%;  
  }

  .col-dir {
    border-radius: 20px 20px 20px 20px;
    height: 100%;    
    background-color: white;
  }