.roundedInput {
	border-radius: 25px 25px 25px 25px;
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(165, 163, 168, 1);
	-moz-box-shadow: 0px 0px 10px -3px rgba(165, 163, 168, 1);
	box-shadow: 0px 0px 10px -3px rgba(165, 163, 168, 1);

	--highlight-height: 0;
}

.no-item {
	--highlight-height: 0px;
}

.icon-style {
	padding-left: 10px;
	width: 25%;
	//font-size: 25px;
	font-size: 1em;
	color: rgba(165, 163, 168, 1);
}

.icon-style-date {
	padding-left: 10px;
	width: 25%;
	font-size: 25px;
	text-align: center;
	color: rgba(165, 163, 168, 1);
}

.icon-style-select {
	padding-left: 10px;
	width: 25%;
	font-size: 25px;
	text-align: center;
	color: rgba(165, 163, 168, 1);
}

.date-style {
	height: 50px;
	text-align: left;
	padding-left: 0;
	line-height: 50px;
	//font-size: 15px;
}

.select-style {
	text-align: left;
	padding-left: 0;
	max-width: 70% !important;
	//font-size: 15px;
}

.text-subtitle {    
    font-size: 1.2em;
    margin-left: 1em;    
    margin-right: 1em;    
    //color: #b8b8b8;    
}

.mandatory {
	-webkit-box-shadow: 0px 0px 10px -1px rgba(129, 123, 138, 1);
	-moz-box-shadow: 0px 0px 10px -1px rgba(129, 123, 138, 1);
	box-shadow: 0px 0px 10px -1px rgba(129, 123, 138, 1);
}

.politicas-text {
	width: 80%;
}

@media (min-height: 200px) and (max-height: 580px) {
	ion-input {
		font-size: 0.8em !important;
	}

	ion-button ion-input {
		font-size: 1.2em !important;
	}

	ion-select {
		font-size: 0.8em !important;
	}

	ion-datetime {
		font-size: 0.8em !important;
	}

	ion-title {
		font-size: 1.5em !important;
	}

	ion-text {
		font-size: 0.7em !important;
	}

	ion-label {
		font-size: 0.9em !important;
	}
}

@media (min-height: 560px) {
	ion-title {
		font-size: 2em !important;
	}
}
