<ion-header no-border>        
    <ion-toolbar color="graniente-menu" class="header-img ion-padding-right">
        <!--<ion-buttons slot="start" text="Atrás">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons> -->
    </ion-toolbar>    
    <ion-text class="texto-titulo">Confirmar pago de servicio</ion-text>         
    <ion-img src="/assets/imgs/pico.png"></ion-img>        
    <ion-img src="/assets/imgs/tarjeta.png" class="header-img-2"></ion-img>
</ion-header>

<ion-content>

    <ion-item class="ion-text-center" style="top: 30%;">
        <ion-grid fixed>          
          <ion-row *ngFor="let tarea of tareas">
            <ion-col size="8" class="borde-der ion-text-left text-row">{{ tarea.nombre}}</ion-col>
            <ion-col size="4" class="text-row">$ {{ tarea.monto }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="borde-der ion-text-right ion-padding-end"><b>TOTAL A PAGAR </b></ion-col>
            <ion-col size="4" class="ion-text-center"><b>$ {{ total }}</b></ion-col>
          </ion-row>    
        </ion-grid>    
    </ion-item>
      
</ion-content>

<ion-footer>
    <ion-button shape="round" color="secondary" expand="block" (click)="confirmarPago()" class="ion-margin-bottom">
      Confirmar pago
    </ion-button>
</ion-footer>
