<ion-header no-border>
  <ion-toolbar color="graniente-menu" class="header-img ion-padding-right">
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false" color="light"></ion-menu-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="bell"></ion-icon>                
      <ion-badge class="badge"></ion-badge>
  </ion-buttons>   
  </ion-toolbar>
  <ion-text class="texto-titulo">Notificaciones</ion-text>
  <ion-img src="/assets/imgs/pico_light.png"></ion-img>
</ion-header>

<ion-content color="light">

  <ion-grid class="filas">
    <ion-row color="light" class="fila-sel">
      <ion-col size="5">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000000 <br>
        12/03/2020 <br>
        12:00pm
      </ion-col>
      <ion-col size="3" class="ion-text-center">8h</ion-col>
    </ion-row>
    <ion-row class="fila-nosel">
      <ion-col size="5" class="ion-padding-left">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000001 <br>
        15/03/2020 <br>
        03:00 pm
      </ion-col>
      <ion-col size="3" class="ion-text-center">13h</ion-col>
    </ion-row>
    <ion-row class="fila-nosel">
      <ion-col size="5">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000002 <br>
        18/03/2020 <br>
        04:00 pm
      </ion-col>
      <ion-col size="3" class="ion-text-center">1d</ion-col>
    </ion-row>
    <ion-row class="fila-sel">
      <ion-col size="5">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000003 <br>
        21/03/2020 <br>
        12:00 pm
      </ion-col>
      <ion-col size="3" class="ion-text-center">2d</ion-col>
    </ion-row>
    <ion-row color="light" class="fila-sel">
      <ion-col size="5">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000004 <br>
        23/03/2020 <br>
        02:00 pm
      </ion-col>
      <ion-col size="3" class="ion-text-center">3d</ion-col>
    </ion-row>
    <ion-row color="light" class="fila-sel">
      <ion-col size="5">
        <b>Orden de Servicio : </b> <br>
        <b>Fecha : </b> <br>
        <b>Hora : </b> 
      </ion-col>
      <ion-col size="4">
        #000005 <br>
        26/03/2020 <br>
        08:00 am
      </ion-col>
      <ion-col size="3" class="ion-text-center">4d</ion-col>
    </ion-row>
    <ion-row color="light" style="height: 30px;">      
      <ion-col size="12" class="ion-padding-left"><b>MARCAR TODAS COMO VISTAS</b></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
