<ion-header>
 
</ion-header>

<ion-content class="ion-padding">		        
	<ion-grid>
		<ion-row class="ion-padding-top"> 
			<ion-col col-12 >
				<div class="ion-text-center">
					<ion-img src="/assets/imgs/img-email.png" style="height: 100px;" class="ion-margin header-img"></ion-img>
				</div>        					
			</ion-col>		        				      					 
		</ion-row>	
		<ion-row> 
			<ion-col col-12 >
				<div class="ion-text-center">
					<b>El correo electrónico va de camino, por <br> favor revisa tu bandeja de entrada.</b>
				</div>        					
			</ion-col>		        				      					 
		</ion-row>	    
		<ion-row class="ion-padding-top">
			<ion-col col-12>
				<div class="ion-text-center">
					<b>Te hemos enviado un código de 4 dígitos para que <br> puedas restablecer tu contraseña.</b>
				</div>        					
			</ion-col>	  
		</ion-row>    				       			
	</ion-grid>
    <ion-button shape="round" block outline expand="block" class="sin-mayscula" color="secondary" class="ion-padding-horizontal" class="ion-margin" (click) = "irARenovar()" >
        Ok, gracias
    </ion-button>	    
</ion-content>

