<ion-header>
	<ion-toolbar color="gradiente-4">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="fondo-menu" color="gradiente-4">
	<h2><span><b>¿Qué buscas hoy?</b></span></h2>

	<div class="img-service">
		<ion-img src="assets/imgs/home/home-1.png" width="380" height="220" (click)="irADepartamentos( 1 )"></ion-img>
	</div>

	<div class="img-service-2">
		<ion-img src="assets/imgs/home/home-2.png" width="380" height="220" (click)="irADepartamentos( 2 )"></ion-img>
	</div>
</ion-content>