.header-img {
    width: 100%;    
      position: relative;
      top: 0;
      left: 0;
      height: 90px;
      z-index: -1;
  }

  .texto-filtro {
    width: 80px;
    height: 20px;
    font-size: 12px;
    padding-right: 20px;
    text-transform: none;
  }

  .texto-titulo {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }