<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623556925361-uvqvvqer67ck58qsj18741t3e55blmvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623556925361-uvqvvqer67ck58qsj18741t3e55blmvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCspSK3SvLaMdWobl0oedtNuZjfHa-XNl4</string>
	<key>GCM_SENDER_ID</key>
	<string>623556925361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strappinc.buco</string>
	<key>PROJECT_ID</key>
	<string>app-buco</string>
	<key>STORAGE_BUCKET</key>
	<string>app-buco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623556925361:ios:6426efb5c22bc43eb4cf90</string>
	<key>DATABASE_URL</key>
	<string>https://app-buco.firebaseio.com</string>
</dict>
</plist>